@using EM.Calc.Web.Models
@model OperationResult

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calc</title>
</head>
<body>
    <div>
        <h2>Операция: @Model.Name </h2>
        <p>Результат: @Model.Result</p>
    </div>
</body>
</html>
